*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.container{
    position: relative;
}

.body_clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background-color: rgb(225,255,255,0.4); */
    background-color: rgba(65,105, 255);
    /* box-shadow: 0px 0px 30px rgba(197, 189, 189, 0.9); */
    border: 4.5px solid rgba(214, 230, 230, 0.952);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_clock span{
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center; 
}

.body_clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 22.5px;
    color: black;
}

.body_clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
}

.fork{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.fork i{
    position: absolute;
    background-color: var(--clr);
    width: 5px;
    height: var(--h);
    border-radius: 8px ;
}

